* {
    box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-color: #21222A;
  height: 60px;
  line-height: 24px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.App-header > h3 {
  margin-left: auto;
  color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-weight: 50;
  font-size: 25px;
}

.App-header > small {
  margin-left: auto;
  color: #DEEBF8;
  font-weight: 500;
  font-size: 22px;
}

.App-header > img {
  height: 40px;
  line-height: 18.4px;
  object-fit: contain;
  vertical-align: middle;
}

.App-content {
  background-image: radial-gradient(at center, #0F130A 20%, #7E222200 100%);
  min-height: 10vh;
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  font-size: 20px;
  color: white;
}

.App-content > img {
  width: 800px;
}

.App-content > video {
  position: relative;
  width: 1349px; 
  height: 520px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  left: 0px;
  opacity: 1;
  z-index: -1;
}

.App-table {
  background-color: #000000;
  margin-left: 20px;
  line-height: 19px;
  opacity: .8;
}

.App-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  align-content: center;
  background-color: #21222A;
  height: 80px;
  padding: 10px 25px;
  justify-content: center;
}

.jenkins-footer {
  padding: 10px 25px;
}

.jenkins-footer > img {
  width: 20px;
}

.confluence-footer {
  padding: 10px 25px;
}

.confluence-footer > img {
  width: 20px;
}

.App-link {
  display: flex;
  flex-wrap: wrap;
  color: #61dafb;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.App-table {
  text-align: left;
  padding: 5px;
}
